{
  "version": 1,
  "speakers": {
    "living": {
      "name": "Living Room",
      "ip": "10.0.0.199",
      "device_id": "",
      "default_zone": "",
      "enabled": true
    }
  },
  "zones": {},
  "stations": {
    "radio1": {
      "name": "VRT Radio 1",
      "owner": "VRT",
      "path": "/radio1.mp3",
      "upstream": "http://icecast.vrtcdn.be/radio1-high.mp3",
      "logo": "/logos/radio1.png",
      "live_metadata": {
        "enabled": true,
        "source": "icy",
        "endpoint": "/metadata/radio1.json"
      }
    },
    "radio2-limburg": {
      "name": "VRT Radio 2 Limburg",
      "owner": "VRT",
      "path": "/radio2-limburg.mp3",
      "upstream": "http://icecast.vrtcdn.be/ra2lim-high.mp3",
      "logo": "/logos/radio2-limburg.png",
      "live_metadata": {
        "enabled": true,
        "source": "icy",
        "endpoint": "/metadata/radio2-limburg.json"
      }
    },
    "stubru": {
      "name": "VRT Studio Brussel",
      "owner": "VRT",
      "path": "/stubru.mp3",
      "upstream": "http://icecast.vrtcdn.be/stubru-high.mp3",
      "logo": "/logos/stubru.png",
      "live_metadata": {
        "enabled": true,
        "source": "icy",
        "endpoint": "/metadata/stubru.json"
      }
    },
    "joe": {
      "name": "Joe",
      "owner": "DPG Media",
      "path": "/joe.mp3",
      "upstream": "https://streams.radio.dpgmedia.cloud/redirect/joe_fm/mp3",
      "logo": "/logos/joe.png",
      "live_metadata": {
        "enabled": true,
        "source": "icy",
        "endpoint": "/metadata/joe.json"
      }
    },
    "nostalgie": {
      "name": "Nostalgie Vlaanderen",
      "owner": "Nostalgie",
      "path": "/nostalgie.mp3",
      "upstream": "https://playerservices.streamtheworld.com/api/livestream-redirect/NOSTALGIEWHATAFEELING.mp3",
      "logo": "/logos/nostalgie.png",
      "live_metadata": {
        "enabled": true,
        "source": "icy",
        "endpoint": "/metadata/nostalgie.json"
      }
    },
    "joe-gold": {
      "name": "JOE Gold",
      "owner": "DPG Media",
      "path": "/joe-gold.mp3",
      "upstream": "https://streams.radio.dpgmedia.cloud/redirect/joe_gold/mp3",
      "logo": "/logos/joe-gold.png",
      "live_metadata": {
        "enabled": true,
        "source": "icy",
        "endpoint": "/metadata/joe-gold.json"
      }
    }
  },
  "presets": {
    "PRESET_1": "radio1",
    "PRESET_2": "radio2-limburg",
    "PRESET_3": "stubru",
    "PRESET_4": "joe",
    "PRESET_5": "nostalgie",
    "PRESET_6": "joe-gold"
  }
}
